<%= stylesheet_link_tag "scm" %>

<div class="contextual">
<%= link_to(l(:button_edit),
               {:action => 'edit', :id => @git_hook_setting.id},
               :class => 'icon icon-edit') %>
<%= link_to(l(:button_delete),
               {:action => 'destroy', :id => @git_hook_setting.id},
               :data => {:confirm => l(:text_are_you_sure)}, :method => :delete,
               :class => 'icon icon-del') %>
</div>

<%= title [l(:gh_label_git_hook_setting_plural), git_hook_settings_path], @git_hook_setting.id %>

<%= labelled_form_for :git_hook_setting, @git_hook_setting,
        :url => git_hook_settings_path,
        :html => {:multipart => true, :id => 'git_hook_setting-form'} do |f| %>
    <%= render :partial => 'git_hook_settings/form', :locals => {:form => f, :disabled => true} %>
<% end %>
